export GUIX_SUBSTITUTE="--substitute-urls=https://mirror.sjtu.edu.cn/guix/"
export GUIX_LOADPATH="-L $PWD/module/lisux -L $PWD/module/grask"
export GUIX_BUILD_OPTIONS="$GUIX_SUBSTITUTE $GUIX_LOADPATH"
