[submodule "module/emacy"]
	path = module/emacy
	url = git@github.com:liszt21/emacy
[submodule "module/lisux"]
	path = module/lisux
	url = git@github.com:liszt21/lisux
[submodule "module/vimmy"]
	path = module/vimmy
	url = git@github.com:liszt21/vimmy
[submodule "module/xmoig"]
	path = module/xmoig
	url = git@github.com:liszt21/xmoig
